# Google Developer Console Client ID
# Retrieve this from https://console.cloud.google.com/apis/credentials
# Configure Authorized JavaScript Origins to include http://localhost:5173 (or your local dev port)
VITE_GOOGLE_CLIENT_ID=192824542966-p32l3i516ufvt5ctu7d0a011t0kttf9o.apps.googleusercontent.com
